.group-child102 {
  position: absolute;
  top: 284px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslateblue-100);
  width: 336px;
  height: 94px;
}
.vector-icon75 {
  position: absolute;
  height: 35.71%;
  width: 7.84%;
  top: 10.71%;
  right: 92.16%;
  bottom: 53.57%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.courses12 {
  position: absolute;
  top: 0px;
  left: 42px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.vector-parent37 {
  position: relative;
  width: 273px;
  height: 84px;
  cursor: pointer;
}
.coursesButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 103px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon76 {
  position: absolute;
  height: 35.71%;
  width: 10.49%;
  top: 8.33%;
  right: 89.51%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.progress19 {
  position: absolute;
  top: 0px;
  left: 46px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 240px;
  height: 84px;
}
.vector-parent38 {
  position: relative;
  width: 286px;
  height: 84px;
  cursor: pointer;
}
.progress18 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.settingsIcon {
  position: absolute;
  height: 35.71%;
  width: 10.47%;
  top: 8.33%;
  right: 89.53%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.settingsText {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.groupSettings {
  position: relative;
  width: 275px;
  height: 84px;
  cursor: pointer;
}
.settingsButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 309px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home18 {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 171px;
  height: 84px;
}
.vector-icon77 {
  position: absolute;
  height: 35.71%;
  width: 12.51%;
  top: 8.33%;
  right: 87.49%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-parent7 {
  position: relative;
  width: 215px;
  height: 84px;
  cursor: pointer;
}
.home17 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.courses-container {
  position: absolute;
  top: 0px;
  left: 23px;
  width: 286px;
  height: 393px;
}
.buttonContainer {
  position: absolute;
  top: 335px;
  left: 23px;
  width: 336px;
  height: 393px;
}
.dashboard-settings-child {
  position: absolute;
  top: 64px;
  left: 336px;
  border-radius: var(--br-87xl) 0px 0px var(--br-xl);
  background-color: var(--color-white);
  width: 1361px;
  height: 1013px;
}
.line {
  position: absolute;
  top: 547px;
  left: 397px;
  font-size: var(--font-size-xl);
  font-weight: 100;
  font-family: var(--font-inter);
  display: inline-block;
  width: 1220px;
}
.settings21 {
  position: absolute;
  top: 125px;
  left: 397px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-bangers);
  color: var(--color-black);
  display: none;
  width: 237px;
  height: 63px;
}
.dashboard-settings-item {
  position: absolute;
  top: 628px;
  left: 397px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 597px;
  height: 59px;
}
.dashboard-settings-inner {
  position: absolute;
  top: 628px;
  left: 1069px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 540px;
  height: 59px;
}
.dashboard-settings-child1 {
  position: absolute;
  top: 749px;
  left: 1069px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 540px;
  height: 59px;
}
.dashboard-settings-child2 {
  position: absolute;
  top: 915px;
  left: 397px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 1212px;
  height: 59px;
}
.dashboard-settings-child3 {
  position: absolute;
  top: 749px;
  left: 397px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 597px;
  height: 59px;
}
.dashboard-settings-child4 {
  position: absolute;
  top: 408px;
  left: 397px;
  border-radius: 50%;
  width: 114px;
  height: 114px;
  object-fit: cover;
}
.upload-new {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
  color: var(--color-white);
  text-align: left;
}
.upload1 {
  border-radius: var(--br-8xs);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) 22px;
  align-items: center;
  justify-content: center;
}
.upload {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 435px;
  left: 543px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.delete-avatar {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
}
.delete {
  cursor: pointer;
  border: none;
  padding: var(--padding-mid) var(--padding-5xs);
  background-color: #e7e7e7;
  position: absolute;
  top: 435px;
  left: 736px;
  border-radius: var(--br-8xs);
  width: 159px;
  height: 61px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.gelu1 {
  position: absolute;
  top: 644px;
  left: 424px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 150px;
  height: 25px;
}
.filipino1 {
  position: absolute;
  top: 765px;
  left: 449px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 84px;
  height: 27px;
}
.yahoogmailcom {
  position: absolute;
  top: 932px;
  left: 424px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 204px;
  height: 63px;
}
.ursal1 {
  position: absolute;
  top: 644px;
  left: 1091px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 62px;
  height: 25px;
}
.student2 {
  position: absolute;
  top: 766px;
  left: 1085px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 90px;
  height: 26px;
}
.your-avatar1 {
  position: absolute;
  top: 371px;
  left: 397px;
}
.firstname1 {
  position: absolute;
  top: 598px;
  left: 397px;
}
.lastname1 {
  position: absolute;
  top: 598px;
  left: 1069px;
}
.role5 {
  position: absolute;
  top: 722px;
  left: 1069px;
}
.nationality {
  position: absolute;
  top: 721px;
  left: 397px;
}
.email5 {
  position: absolute;
  top: 888px;
  left: 397px;
}
.emojioneflag-for-philippines-icon {
  position: absolute;
  top: 766px;
  left: 410px;
  width: 27px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.n-2-icon1 {
  position: absolute;
  top: 84px;
  left: 1469px;
  width: 215px;
  height: 185px;
  object-fit: cover;
}
.microsoftteams-image-1-4 {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 372px;
  height: 116px;
  object-fit: cover;
}
.settings22 {
  position: absolute;
  top: 125px;
  left: 397px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-bangers);
  color: var(--color-black);
  display: inline-block;
  width: 237px;
  height: 63px;
}
.group-child103 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-deepskyblue-200);
  box-sizing: border-box;
  width: 128px;
  height: 59px;
}
.profile-button-inner {
  position: relative;
  width: 128px;
  height: 59px;
  z-index: 0;
}
.profile2 {
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 26px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 71px;
  height: 29px;
  flex-shrink: 0;
  z-index: 1;
}
.profile-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 225px;
  left: 397px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.group-child104 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 128px;
  height: 59px;
}
.password-button-inner {
  position: relative;
  width: 128px;
  height: 59px;
  cursor: pointer;
  z-index: 0;
}
.password7 {
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 15px;
  font-size: var(--font-size-2xl);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 98px;
  height: 30px;
  flex-shrink: 0;
  z-index: 1;
}
.password-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 225px;
  left: 549px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.vector-icon78 {
  position: absolute;
  height: 58.4%;
  width: 45.83%;
  top: 0%;
  right: 27.98%;
  bottom: 41.6%;
  left: 26.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parent-mode19 {
  position: absolute;
  top: 64px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 61px;
}
.vector-parent39 {
  position: relative;
  width: 168px;
  height: 125px;
}
.group-child105 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  width: 84px;
  height: 46px;
}
.group-child106 {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.switchParent {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 84px;
  height: 46px;
}
.parent-mode18 {
  position: absolute;
  top: 760px;
  left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslateblue-100);
}
.rectangle-sign-in-button9 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 203px;
  height: 63px;
}
.rectangle-sign-in-button-wrapper7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 63px;
}
.log-out10 {
  position: absolute;
  top: 14px;
  left: 46px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 52px;
}
.group-parent36 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 66px;
}
.group-icon30 {
  position: absolute;
  height: 45.45%;
  width: 13.45%;
  top: 25.76%;
  right: 75.22%;
  bottom: 28.79%;
  left: 11.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-parent35 {
  position: relative;
  width: 203px;
  height: 66px;
}
.logout9 {
  cursor: pointer;
  border: none;
  padding: var(--padding-xl) 0px 0px;
  background-color: transparent;
  position: absolute;
  top: 968px;
  left: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-settings {
  position: relative;
  background-color: var(--color-deepskyblue-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-love-ya-like-a-sister);
}
