.group-child88 {
  position: absolute;
  top: 284px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslateblue-100);
  width: 336px;
  height: 94px;
}

.group-icon255 {
  position: absolute;
  height: 35.71%;
  width: 10.47%;
  top: -410px;
  left: -20px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.vector-icon677 {
  width: 35px;
  height: 35px;
  left: -5px;
  top: 10px;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}

.vector-icon688 {
  position: absolute;
  height: 35.71px;
  width: 35px;
  top: 10px;
  left: -5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.settings155 {
  position: absolute;
  top: -335px;
  left: 30px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.vector-icon67 {
  position: absolute;
  height: 35.71%;
  width: 7.84%;
  top: 10.71%;
  right: 92.16%;
  bottom: 53.57%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.courses9 {
  position: absolute;
  top: 0px;
  left: 42px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.vector-parent31 {
  position: relative;
  width: 273px;
  height: 84px;
  cursor: pointer;
}
.courses8 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 103px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon68 {
  position: absolute;
  height: 35.71%;
  width: 10.49%;
  top: 8.33%;
  right: 89.51%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.progress15 {
  position: absolute;
  top: 0px;
  left: 46px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 240px;
  height: 84px;
}
.vector-parent32 {
  position: relative;
  width: 286px;
  height: 84px;
  cursor: pointer;
}
.progress14 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-icon25 {
  position: absolute;
  height: 35.71%;
  width: 10.47%;
  top: 8.33%;
  right: 89.53%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.settings15 {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.group-parent28 {
  position: relative;
  width: 275px;
  height: 84px;
  cursor: pointer;
}
.settings14 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 309px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home14 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 171px;
  height: 84px;
}
.vector-icon69 {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 8.33%;
  left: -50px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-parent5 {
  position: relative;
  width: 215px;
  height: 84px;
  cursor: pointer;
}
.home13 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.courses-group {
  position: absolute;
  top: 0px;
  left: 23px;
  width: 286px;
  height: 393px;
}
.rectangle-parent31 {
  position: absolute;
  top: 335px;
  left: 23px;
  width: 336px;
  height: 393px;
}
.dashboard-settings-2-child {
  position: absolute;
  top: 64px;
  left: 336px;
  border-radius: var(--br-87xl) 0px 0px var(--br-xl);
  background-color: var(--color-white);
  width: 1361px;
  height: 1013px;
}
.div11 {
  position: absolute;
  top: 547px;
  left: 397px;
  font-size: var(--font-size-xl);
  font-weight: 100;
  font-family: var(--font-inter);
  display: inline-block;
  width: 1220px;
}
.settings16 {
  position: absolute;
  top: 125px;
  left: 397px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-bangers);
  color: var(--color-black);
  display: inline-block;
  width: 237px;
  height: 63px;
}
.profile1 {
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
}
.profile {
  cursor: pointer;
  border: 2px solid var(--color-lightgray);
  padding: var(--padding-sm) var(--padding-8xl);
  background-color: var(--color-white);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profile-wrapper {
  position: absolute;
  top: 225px;
  left: 397px;
  width: 124px;
  height: 58px;
  cursor: pointer;
}
.dashboard-settings-2-item {
  position: absolute;
  top: 628px;
  left: 397px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 597px;
  height: 59px;
}
.dashboard-settings-2-inner {
  position: absolute;
  top: 628px;
  left: 1069px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 540px;
  height: 59px;
}
.dashboard-settings-2-child1 {
  position: absolute;
  top: 749px;
  left: 1069px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 540px;
  height: 59px;
}
.dashboard-settings-2-child2 {
  position: absolute;
  top: 749px;
  left: 397px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 597px;
  height: 59px;
}
.rectangle-input {
  border: 2px solid var(--color-lightgray);
  background-color: var(--color-white);
  position: absolute;
  top: 870px;
  left: 397px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 597px;
  height: 59px;
}
.dashboard-settings-2-child3 {
  border: 2px solid var(--color-lightgray);
  background-color: var(--color-white);
  position: absolute;
  top: 870px;
  left: 1069px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  width: 540px;
  height: 59px;
}
.dashboard-settings-2-child4 {
  position: absolute;
  top: 408px;
  left: 397px;
  border-radius: 50%;
  width: 114px;
  height: 114px;
  object-fit: cover;
}
.gelu {
  position: absolute;
  top: 644px;
  left: 424px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 183px;
  height: 63px;
}
.ursal {
  position: absolute;
  top: 644px;
  left: 1091px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 183px;
  height: 63px;
}
.student {
  position: absolute;
  top: 766px;
  left: 1085px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 183px;
  height: 63px;
}
.your-avatar {
  position: absolute;
  top: 371px;
  left: 397px;
}
.firstname {
  position: absolute;
  top: 598px;
  left: 397px;
}
.lastname {
  position: absolute;
  top: 598px;
  left: 1069px;
}
.role4 {
  position: absolute;
  top: 722px;
  left: 1069px;
}
.password5 {
  position: absolute;
  top: 721px;
  left: 397px;
}
.new-password {
  position: absolute;
  top: 842px;
  left: 397px;
}
.confirm-passowrd {
  position: absolute;
  top: 842px;
  left: 1069px;
}
.group-child89 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-deepskyblue-200);
  box-sizing: border-box;
  width: 128px;
  height: 59px;
}
.password6 {
  position: absolute;
  top: 14px;
  left: 16px;
  font-weight: 600;
  display: inline-block;
  width: 98px;
  height: 30px;
}
.rectangle-parent32 {
  position: absolute;
  top: 225px;
  left: 549px;
  width: 128px;
  height: 59px;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.n-2-icon {
  position: absolute;
  top: 70px;
  left: 1465px;
  width: 215px;
  height: 185px;
  object-fit: cover;
}
.update1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.update {
  cursor: pointer;
  border: none;
  padding: var(--padding-mid) 46px;
  background-color: var(--color-deepskyblue-200);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.update-wrapper {
  position: absolute;
  top: 949px;
  left: 1445px;
  width: 163px;
  height: 58px;
  cursor: pointer;
}
.fluent-mdl2radio-bullet-icon {
  position: absolute;
  top: 769px;
  left: 424px;
  
}
.fluent-mdl2radio-bullet-icon1 {
  position: absolute;
  top: 769px;
  left: 438px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon2 {
  position: absolute;
  top: 769px;
  left: 452px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon3 {
  position: absolute;
  top: 769px;
  left: 466px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon4 {
  position: absolute;
  top: 769px;
  left: 480px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon5 {
  position: absolute;
  top: 769px;
  left: 494px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon6 {
  position: absolute;
  top: 769px;
  left: 508px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon7 {
  position: absolute;
  top: 769px;
  left: 522px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon8 {
  position: absolute;
  top: 769px;
  left: 536px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon9 {
  position: absolute;
  top: 769px;
  left: 550px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon10 {
  position: absolute;
  top: 769px;
  left: 564px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon11 {
  position: absolute;
  top: 769px;
  left: 578px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.fluent-mdl2radio-bullet-icon12 {
  position: absolute;
  top: 769px;
  left: 592px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.microsoftteams-image-1-5 {
  position: absolute;
  top: 129px;
  left: 0px;
  width: 372px;
  height: 116px;
  object-fit: cover;
}
.vector-icon70 {
  position: absolute;
  height: 58.4%;
  width: 45.83%;
  top: 0%;
  right: 27.98%;
  bottom: 41.6%;
  left: 26.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parent-mode15 {
  position: absolute;
  top: 64px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 61px;
}
.vector-parent33 {
  position: relative;
  width: 168px;
  height: 125px;
}
.group-child90 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  width: 84px;
  height: 46px;
}
.group-child91 {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.rectangle-parent33 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 84px;
  height: 46px;
}
.parent-mode14 {
  position: absolute;
  top: 760px;
  left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslateblue-100);
}
.rectangle-sign-in-button7 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 203px;
  height: 63px;
}
.rectangle-sign-in-button-wrapper5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 63px;
}
.log-out8 {
  position: absolute;
  top: 14px;
  left: 46px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 52px;
}
.group-parent30 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 66px;
}
.group-icon26 {
  position: absolute;
  height: 45.45%;
  width: 13.45%;
  top: 25.76%;
  right: 75.22%;
  bottom: 28.79%;
  left: 11.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-parent29 {
  position: relative;
  width: 203px;
  height: 66px;
  top: 100px;
}
.logout7 {
  cursor: pointer;
  border: none;
  padding: var(--padding-xl) 0px 0px;
  background-color: transparent;
  position: absolute;
  top: 968px;
  left: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-settings-2 {
  position: relative;
  background-color: var(--color-deepskyblue-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-love-ya-like-a-sister);
}
