.group-child79 {
  position: absolute;
  top: 80px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslateblue-100);
  width: 336px;
  height: 94px;
}
.vector-icon48 {
  position: absolute;
  height: 35.71%;
  width: 7.84%;
  top: 10.71%;
  right: 92.16%;
  bottom: 53.57%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.courses5 {
  position: absolute;
  top: 0px;
  left: 42px;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.vector-parent20 {
  position: absolute;
  height: 14.46%;
  width: 95.45%;
  top: 17.73%;
  right: 4.55%;
  bottom: 67.81%;
  left: 0%;
  cursor: pointer;
}
.vector-icon49 {
  position: absolute;
  height: 35.71%;
  width: 10.49%;
  top: 8.33%;
  right: 89.51%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.progress11 {
  position: absolute;
  top: 0px;
  left: 46px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 240px;
  height: 84px;
}
.vector-parent21 {
  position: relative;
  width: 286px;
  height: 84px;
}
.progress10 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-icon21 {
  position: absolute;
  height: 35.71%;
  width: 10.47%;
  top: 8.33%;
  right: 89.53%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.settings11 {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.group-parent21 {
  position: relative;
  width: 275px;
  height: 84px;
}
.settings10 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 309px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon50 {
  position: absolute;
  height: 58.4%;
  width: 45.83%;
  top: 0%;
  right: 27.98%;
  bottom: 41.6%;
  left: 26.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parent-mode11 {
  position: absolute;
  top: 64px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 61px;
}
.vector-parent22 {
  position: relative;
  width: 168px;
  height: 125px;
}
.group-child80 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  width: 84px;
  height: 46px;
}
.group-child81 {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.rectangle-parent27 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 84px;
  height: 46px;
}
.parentButton {
  position: absolute;
  top: 410px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslateblue-100);
}
.home11 {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 171px;
  height: 84px;
}
.vector-icon51 {
  position: absolute;
  height: 35.71%;
  width: 12.51%;
  top: 8.33%;
  right: 87.49%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-parent3 {
  position: relative;
  width: 215px;
  height: 84px;
}
.home10 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent20 {
  position: absolute;
  height: 100%;
  width: 85.12%;
  top: 0%;
  right: 8.04%;
  bottom: 0%;
  left: 6.85%;
}
.rectangle-parent26 {
  position: absolute;
  top: 335px;
  left: 23px;
  width: 336px;
  height: 581px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-love-ya-like-a-sister);
}
.fluenttriangle-16-filled5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.dashboard-courses-child {
  position: absolute;
  top: 59px;
  left: 315px;
  border-radius: var(--br-87xl) 0px 0px var(--br-xl);
  background-color: var(--color-white);
  width: 1361px;
  height: 1009px;
}
.dashboard-courses-item {
  position: absolute;
  top: 1067.9px;
  left: 363px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 811.3px;
  height: 1268.9px;
  transform: rotate(-90.07deg);
  transform-origin: 0 0;
}
.microsoftteams-image-1-25 {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 372px;
  height: 116px;
  object-fit: cover;
}
.dashboard-courses-inner {
  position: absolute;
  top: 84px;
  left: 352px;
  border-radius: var(--br-42xl-5) 0px 0px 0px;
  background-color: var(--color-goldenrod);
  width: 1279px;
  height: 155px;
}
.b1642db9-f637-44fd-8187-e63b2d-icon {
  position: absolute;
  top: 810px;
  left: -308px;
  width: 225px;
  height: 191px;
  object-fit: cover;
}
.mas-malalim-na {
  margin: 0;
}
.kurso-1-mas-container {
  position: absolute;
  top: 1118px;
  left: 690px;
  display: inline-block;
  text-align: center;
  width: 206px;
  height: 95px;
}
.kurso-2-pagsusuri-container {
  position: absolute;
  top: 1113px;
  left: 1262px;
  display: inline-block;
  text-align: center;
  width: 201px;
  height: 95px;
}
.ikalawang-antas-2-child {
  position: absolute;
  top: 10px;
  left: -6px;
  border-radius: var(--br-31xl);
  width: 526px;
  height: 202px;
  object-fit: cover;
}
.kurso-2-pang-unawa-container {
  position: absolute;
  top: 64px;
  left: 204px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: center;
  width: 201px;
  height: 95px;
}
.microsoftteams-image-3-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 179px;
  height: 214px;
  object-fit: cover;
}
.kurso-2-pang-unawa-at-masusin-parent {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 405px;
  height: 214px;
}
.ikalawang-antas-2 {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 611px;
  left: 987px;
  width: 514px;
  height: 214px;
}
.unang-antas-2-child {
  position: relative;
  border-radius: var(--br-31xl);
  width: 526px;
  height: 202px;
  object-fit: cover;
  z-index: 0;
}
.kurso-2-pagsasalita {
  position: absolute;
  top: 34px;
  left: 197px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: center;
  width: 183px;
  height: 14px;
}
.microsoftteams-image-5-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 168px;
  height: 173px;
  object-fit: cover;
}
.kurso-2-pagsasalita-at-pagsul-parent {
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: 44px;
  width: 380px;
  height: 173px;
 
}
.unang-antas-2 {
  border: none;
  padding: 0;
  background-color: yellow;
  position: absolute;
  top: 352.8px;
  left: 985px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
  
}
.dashboard-courses-child1 {
  position: absolute;
  top: 791px;
  left: 579px;
  border-radius: var(--br-31xl);
  width: 247px;
  height: 257px;
  object-fit: cover;
}
.ikalawang-antas1 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-black);
  text-align: left;
}
.kurso-1-gitnang-container {
  position: absolute;
  top: 64px;
  left: 200px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: center;
  width: 181px;
  height: 32px;
}
.ca88b0e1-977b-4453-99ba-b1a77c-icon3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 193.5px;
  height: 214px;
  object-fit: cover;
}
.kurso-1-gitnang-antas-ng-wika-parent {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 381px;
  height: 214px;
}
.vector-parent23 {
  position: relative;
  width: 514px;
  height: 214px;
  background-color: #FF6961;
  border-radius: 30px;
  border:none;
}
.ikalawang-antas {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: none;
  border-radius: 30px;
  position: absolute;
  top: 575px;
  left: 422px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.ikatlong-antas-3 {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 893px;
  left: 987px;
  width: 514px;
  height: 214px;
}
.frame-child1 {
  position: absolute;
  top: -2px;
  left: -6px;
  border-radius: var(--br-31xl);
  width: 526px;
  height: 202px;
  object-fit: cover;
  background-color: #FF6961;
}
.kurso-1-mas-container1 {
  position: absolute;
  top: 37px;
  left: 191px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: center;
  width: 206px;
  height: 90px;
}
.microsoftteams-image-6-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 213px;
  height: 196px;
  object-fit: cover;
}
.kurso-1-mas-malalim-na-filipi-parent {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 397px;
  height: 196px;
}
.vector-parent24 {
  position: relative;
  width: 514px;
  height: 211px;
}
.ikatlong-antas {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 857px;
  left: 422px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
}

.rilock-2-line-icon {
  position: absolute;
  top: 390px;
  left: 1181px;
  width: 125px;
  height: 103px;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.rilock-2-line-icon1,
.rilock-2-line-icon2,
.rilock-2-line-icon3,
.rilock-2-line-icon4 {
  position: absolute;
  top: 668px;
  left: 602px;
  width: 125px;
  height: 103px;
  overflow: hidden;
  object-fit: cover;
}
.rilock-2-line-icon2,
.rilock-2-line-icon3,
.rilock-2-line-icon4 {
  top: 666px;
  left: 1179px;
}
.rilock-2-line-icon3,
.rilock-2-line-icon4 {
  top: 963px;
  left: 602px;
}
.rilock-2-line-icon4 {
  top: 965px;
  left: 1181px;
}
.dashboard-courses-child2 {
  position: absolute;
  top: 344px;
  left: 1550px;
  width: 30px;
  height: 200px;
  object-fit: cover;
  background-color: gray;
  border-radius: 20px;
}
.group-child82 {
  position: absolute;background-color: white;
  top: -2px;
  left: -6px;
  border-radius: var(--br-31xl);
  width: 449px;
  height: 110px;
  object-fit: cover;
  z-index: 0;
}
.gelu-ursal5 {
  position: absolute;
  top: 40px;
  left: 214px;
  display: inline-block;
  width: 181px;
  height: 32px;
}
.microsoftteams-image-1-73 {
  position: absolute;
  top: 21px;
  left: 127px;
  width: 58px;
  height: 54px;
  object-fit: cover;
}
.vector-icon52 {
  position: absolute;
  height: 44.9%;
  width: 11.21%;
  top: 23.47%;
  right: 77.8%;
  bottom: 31.63%;
  left: 10.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.vector-parent25 {
  position: absolute;
  top: 113px;
  left: 1153px;
  width: 437px;
  height: 98px;
  text-align: center;
}
.dashboard-courses-child3 {
  position: absolute;
  top: 1068px;
  left: 420px;
  background-color: var(--color-deepskyblue-200);
  width: 1286px;
  height: 166px;
}
.unang-antas {
  position: absolute;
  top: 302.8px;
  left: 420px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-love-ya-like-a-sister);
}
.frame-child2 {
  position: absolute;
  top: -0.2px;
  left: -6px;
  border-radius: var(--br-31xl);
  width: 526px;
  height: 202px;
  object-fit: cover;
  cursor: pointer;
}
.frame-child3 {
  position: absolute;
  top: 41px;
  left: 153px;
  background-color: var(--color-white);
  width: 29px;
  height: 34px;
}
.frame-child4 {
  position: absolute;
  top: 32px;
  left: 82px;
  background-color: var(--color-white);
  width: 22px;
  height: 34px;
}
.kurso-1-pambungad {
  position: absolute;
  top: 45px;
  left: 200px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: center;
  width: 181px;
  height: 90px;
}
.image-39-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.kurso-1-pambungad-sa-wikang-f-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 381px;
  height: 200px;
}
.rectangle-parent28 {
  position: absolute;
  top: 0px;
  left: 23px;
  width: 381px;
  height: 200px;
}
.frame-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #FF6961;
  position: absolute;
  top: 347.8px;
  left: 420px;
  width: 514px;
  height: 200px;
  border-radius: 30px;
}
.frame-button:hover {
  background-color: #db5b54;
}
.kurso1 {
  position: absolute;
  top: 5px;
  left: 73px;
  display: inline-block;
  width: 237px;
  height: 63px;
}
.vector-icon54 {
  position: absolute;
  height: 100%;
  width: 17.1%;
  top: 0%;
  right: 82.9%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kurso-group {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 310px;
  height: 74px;
}
.dashboard-courses-inner1 {
  position: absolute;
  top: 124px;
  left: 452px;
  width: 310px;
  height: 74px;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
  font-family: var(--font-bangers);
}
.rectangle-sign-in-button5 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 203px;
  height: 63px;
}
.rectangle-sign-in-button-wrapper3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 63px;
}
.log-out6 {
  position: absolute;
  top: 14px;
  left: 46px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 52px;
}
.group-parent23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 66px;
  
}
.group-icon22 {
  position: absolute;
  height: 45.45%;
  width: 13.45%;
  top: 25.76%;
  right: 75.22%;
  bottom: 28.79%;
  left: 11.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-parent22 {
  position: relative;
  width: 203px;
  height: 66px;
}
.logout5 {
  cursor: pointer;
  border: none;
  padding: var(--padding-xl) 0px 0px;
  background-color: transparent;
  position: absolute;
  top: 968px;
  left: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-courses {
  position: relative;
  background-color: var(--color-deepskyblue-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
