.group-child56_EX1 {
  position: absolute;
  top: 80px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslateblue-100);
  width: 336px;
  height: 94px;
}
.vector-icon35_EX1 {
  position: absolute;
  height: 35.71%;
  width: 7.84%;
  top: 10.71%;
  right: 92.16%;
  bottom: 53.57%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.courses3_EX1 {
  position: absolute;
  top: 0px;
  left: 42px;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.vector-parent8_EX1 {
  position: absolute;
  height: 14.46%;
  width: 95.45%;
  top: 17.73%;
  right: 4.55%;
  bottom: 67.81%;
  left: 0%;
  cursor: pointer;
}
.vector-icon36_EX1 {
  position: absolute;
  height: 35.71%;
  width: 10.49%;
  top: 8.33%;
  right: 89.51%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.progress7_EX1 {
  position: absolute;
  top: 0px;
  left: 46px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 240px;
  height: 84px;
}
.vector-parent9_EX1 {
  position: relative;
  width: 286px;
  height: 84px;
}
.progress6_EX1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-icon16_EX1 {
  position: absolute;
  height: 35.71%;
  width: 10.47%;
  top: 8.33%;
  right: 89.53%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.settings7_EX1 {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.group-parent13_EX1 {
  position: relative;
  width: 275px;
  height: 84px;
}
.settings6_EX1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 309px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon37_EX1 {
  position: absolute;
  height: 58.4%;
  width: 45.83%;
  top: 0%;
  right: 27.98%;
  bottom: 41.6%;
  left: 26.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parent-mode7_EX1 {
  position: absolute;
  top: 64px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 61px;
}
.vector-parent10_EX1 {
  position: relative;
  width: 168px;
  height: 125px;
}
.group-child57_EX1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  width: 84px;
  height: 46px;
}
.group-child58_EX1 {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.rectangle-parent20_EX1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 84px;
  height: 46px;
}
.parent-mode6_EX1 {
  position: absolute;
  top: 410px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslateblue-100);
}
.home7_EX1 {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 171px;
  height: 84px;
}
.vector-icon38_EX1 {
  position: absolute;
  height: 35.71%;
  width: 12.51%;
  top: 8.33%;
  right: 87.49%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-parent1_EX1 {
  position: relative;
  width: 215px;
  height: 84px;
}
.home6_EX1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent12_EX1 {
  position: absolute;
  height: 100%;
  width: 85.12%;
  top: 0%;
  right: 8.04%;
  bottom: 0%;
  left: 6.85%;
}
.rectangle-parent19_EX1 {
  position: absolute;
  top: 335px;
  left: 23px;
  width: 336px;
  height: 581px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-love-ya-like-a-sister);
}
.fluenttriangle-16-filled3_EX1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.microsoftteams-image-1-23_EX1 {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 372px;
  height: 116px;
  object-fit: cover;
}
.group-child59_EX1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-87xl) 0px 0px var(--br-xl);
  background-color: var(--color-white);
  width: 1361px;
  height: 1009px;
}
.group-child60_EX1 {
  position: absolute;
  top: 783px;
  left: 559px;
  border-radius: var(--br-31xl);
  width: 247px;
  height: 257px;
  object-fit: cover;
}
.group-child61_EX1 {
  position: absolute;
  top: 927px;
  left: 561px;
  border-radius: var(--br-31xl);
  width: 247px;
  height: 257px;
  object-fit: cover;
}
.group-child62_EX1 {
  position: absolute;
  top: 1039px;
  left: 0px;
  background-color: var(--color-deepskyblue-200);
  width: 1413px;
  height: 19px;
}
.group-child63_EX1 {
  position: absolute;
  top: 976.1px;
  left: 47.9px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 778.6px;
  height: 1268.9px;
  transform: rotate(-90.07deg);
  transform-origin: 0 0;
}
.group-child64_EX1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-42xl-5) 0px 0px 0px;
  background-color: var(--color-goldenrod);
  width: 1279px;
  height: 155px;
}
.group-child65_EX1 {
  position: absolute;
  top: -2px;
  left: -6px;
  border-radius: var(--br-31xl);
  width: 449px;
  height: 110px;
  object-fit: cover;
  background-color: white;
}
.gelu-ursal3_EX1 {
  position: absolute;
  top: 40px;
  left: 214px;
  display: inline-block;
  width: 181px;
  height: 32px;
}
.microsoftteams-image-1-71_EX1 {
  position: absolute;
  top: 21px;
  left: 127px;
  width: 58px;
  height: 54px;
  object-fit: cover;
}
.vector-icon39_EX1 {
  position: absolute;
  height: 44.9%;
  width: 11.21%;
  top: 23.47%;
  right: 77.8%;
  bottom: 31.63%;
  left: 10.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon40_EX1 {
  position: absolute;
  height: 13.37%;
  width: 3.2%;
  top: 48.98%;
  right: 13.96%;
  bottom: 37.65%;
  left: 82.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-parent11_EX1 {
  position: absolute;
  top: 29px;
  left: 801px;
  width: 437px;
  height: 98px;
}
.group-child66_EX1 {
  position: absolute;
  height: 47.74%;
  width: 4.14%;
  top: 25.81%;
  right: 88.04%;
  bottom: 26.45%;
  left: 7.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent22_EX1 {
  position: absolute;
  top: 25px;
  left: 37px;
  width: 1279px;
  height: 155px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.aralin-13_EX1 {
  margin: 0;
}
.pagbati-at-karaniwang3_EX1 {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.aralin-1-pagbati-container3_EX1 {
  position: absolute;
  top: 46px;
  left: 208px;
  text-align: left;
  display: inline-block;
  width: 630px;
  height: 100px;
}
.group-child67_EX1 {
  position: absolute;
  top: 241px;
  left: 129px;
  border-radius: var(--br-31xl);
  width: 1128px;
  height: 141px;
  object-fit: cover;
  background-color: #FDFD96;
}
.group-child68_EX1 {
  position: absolute;
  top: 241px;
  left: 1077px;
  border-radius: var(--br-31xl);
  width: 180px;
  height: 141px;
  object-fit: cover;
  background-color: #FBB52E;
}
.group-child44_EX1 {
  position: absolute;
  top: 241px;
  left: 1077px;
  border-radius: var(--br-31xl);
  width: 180px;
  height: 141px;
  object-fit: cover;
  background-color: var(--color-goldenrod);
}
.div9_EX1 {
  position: absolute;
  top: 258px;
  left: 1097px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 100px;
}
.return-arrow-child1_EX1 {
  position: absolute;
  top: -2px;
  left: -10px;
  border-radius: var(--br-31xl) 0px 0px var(--br-31xl);
  background-color: var(--color-goldenrod);
  width: 99px;
  height: 140px;
}
.group-icon17_EX1 {
  position: absolute;
  height: 65.12%;
  width: 68.69%;
  top: 34.88%;
  right: 15.15%;
  bottom: 0%;
  left: 16.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.return-arrow3_EX1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 243px;
  left: 135px;
  width: 99px;
  height: 129px;
}
.ca88b0e1-977b-4453-99ba-b1a77c-icon1_EX1 {
  position: absolute;
  top: 757px;
  left: 112px;
  width: 173px;
  height: 168px;
  object-fit: cover;
}
.group-child69_EX1 {
  position: absolute;
  top: 399px;
  left: 308px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  border: 5px solid var(--color-goldenrod);
  box-sizing: border-box;
  width: 943px;
  height: 556px;
}
.continue-inner_EX1 {
  position: absolute;
  top: -0.7px;
  left: -3px;
  border-radius: var(--br-31xl);
  width: 217px;
  height: 71.9px;
  object-fit: cover;
  background-color: #FBB52E;
}
.continue5_EX1 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-bangers);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 63px;
}
.continue4_EX1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 868px;
  left: 675px;
  width: 208px;
  height: 63px;
}
.ehersisyo-1-3_EX1 {
  position: absolute;
  top: 275px;
  left: 243px;
  color: var(--color-goldenrod);
  text-align: left;
  display: inline-block;
  width: 797px;
  height: 63px;
}
.rectangle-parent21_EX1 {
  position: absolute;
  top: 59px;
  left: 315px;
  width: 1413px;
  height: 1125px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-bangers);
}
.hello-little-friends_EX1 {
  position: absolute;
  top: 470px;
  left: 683px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 822px;
  height: 71px;
}
.hello_EX1 {
  font-family: var(--font-open-sans);
}
.hello-kamusta_EX1 {
  margin-bottom: 0px;
}
.hello-kamusta-good-morni_EX1 {
  margin: 0;
  padding-left: var(--padding-8xl);
  
}
.hello-kamusta-container_EX1 {
  position: absolute;
  top: 543px;
  left: 757px;
  font-size: var(--font-inherit);
  text-align: left;
  display: flex;
  align-items: center;
  width: 714px;
  height: 248px;
}
.these-are-some_EX1 {
  position: absolute;
  top: 721px;
  left: 812px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 563px;
  height: 248px;
}
.rectangle-sign-in-button3_EX1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 203px;
  height: 63px;
}
.rectangle-sign-in-button-wrapper1_EX1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 63px;
}
.log-out4_EX1 {
  position: absolute;
  top: 14px;
  left: 46px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 52px;
}
.group-parent15_EX1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 66px;
}
.group-icon18_EX1 {
  position: absolute;
  height: 45.45%;
  width: 13.45%;
  top: 25.76%;
  right: 75.22%;
  bottom: 28.79%;
  left: 11.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-parent14_EX1 {
  position: relative;
  width: 203px;
  height: 66px;
}
.logout3_EX1 {
  cursor: pointer;
  border: none;
  padding: var(--padding-xl) 0px 0px;
  background-color: transparent;
  position: absolute;
  top: 968px;
  left: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-exercise-1_EX1 {
  position: relative;
  background-color: var(--color-deepskyblue-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-saddlebrown);
  font-family: var(--font-open-sans);
}
