.group-child92 {
  position: absolute;
  top: 181px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslateblue-100);
  width: 336px;
  height: 94px;
}
.vectorIcon {
  position: absolute;
  height: 35.71%;
  width: 7.84%;
  top: 10.71%;
  right: 92.16%;
  bottom: 53.57%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.coursesText {
  position: absolute;
  top: 0px;
  left: 42px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.vectorImage {
  position: relative;
  width: 273px;
  height: 84px;
  cursor: pointer;
}
.courseButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 103px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorIcon1 {
  position: absolute;
  height: 35.71%;
  width: 10.49%;
  top: 8.33%;
  right: 89.51%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.progress17 {
  position: absolute;
  top: 0px;
  left: 46px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 240px;
  height: 84px;
}
.vectorImage {
  position: relative;
  width: 286px;
  height: 84px;
}
.progress16 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-icon27 {
  position: absolute;
  height: 35.71%;
  width: 10.47%;
  top: 8.33%;
  right: 89.53%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.settings18 {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.group-parent31 {
  position: relative;
  width: 275px;
  height: 84px;
  cursor: pointer;
}
.settings17 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 309px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home16 {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 171px;
  height: 84px;
}
.vector-icon73 {
  position: absolute;
  height: 35.71%;
  width: 12.51%;
  top: 8.33%;
  right: 87.49%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-parent6 {
  position: relative;
  width: 215px;
  height: 84px;
  cursor: pointer;
}
.homeButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.course-parent {
  position: absolute;
  top: 0px;
  left: 23px;
  width: 286px;
  height: 393px;
}
.rectangle-parent34 {
  position: absolute;
  top: 356px;
  left: 23px;
  width: 336px;
  height: 393px;
}
.dashboard-progress-child {
  position: absolute;
  top: 64px;
  left: 336px;
  border-radius: var(--br-87xl) 0px 0px var(--br-xl);
  background-color: var(--color-white);
  width: 1361px;
  height: 1013px;
}
.dashboard-progress-item {
  position: absolute;
  top: 138px;
  left: 415px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0px 4px 13px 4px rgba(0, 0, 0, 0.25);
  width: 1203px;
  height: 218px;
}
.rectangle-statistics {
  position: absolute;
  top: 393px;
  left: 415px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0px 4px 13px 4px rgba(0, 0, 0, 0.25);
  width: 724px;
  height: 406px;
}
.dashboard-progress-inner {
  position: absolute;
  top: 393px;
  left: 1180px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0px 4px 13px 4px rgba(0, 0, 0, 0.25);
  width: 438px;
  height: 406px;
}
.progress-tracker {
  position: absolute;
  top: 160px;
  left: 449px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-bangers);
}
.charmgraduate-cap-icon {
  position: absolute;
  top: 283px;
  left: 449px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.gelu-marie-ursal1 {
  position: absolute;
  top: 247px;
  left: 449px;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
}
.student1 {
  position: absolute;
  top: 285px;
  left: 477px;
  font-size: var(--font-size-mini);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-gray-100);
}
.noto-v1egg-icon {
  position: relative;
  width: 76px;
  height: 78px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.eggs {
  position: absolute;
  top: 213px;
  left: 1265px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 25px;
}
.line-div {
  position: absolute;
  top: 170.6px;
  left: 1189.6px;
  border-right: 0.9px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 0.9px;
  height: 151.9px;
}
.circular-progress-icon {
  position: absolute;
  top: 279px;
  left: 181px;
  width: 293px;
  height: 280px;
  object-fit: cover;
}
.summary {
  position: absolute;
  top: 261px;
  left: 0px;
  font-weight: 600;
}
.performance {
  position: absolute;
  top: 261px;
  left: 756px;
  font-weight: 600;
}
.awards {
  position: absolute;
  top: 0px;
  left: 921px;
  font-weight: 600;
}
.div12 {
  position: relative;
  font-weight: 600;
}
.to-begin {
  position: relative;
  font-size: var(--font-size-xs);
  margin-top: -4px;
}
.parent2 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent3 {
  position: absolute;
  top: 0px;
  left: 249px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent4 {
  position: absolute;
  top: 0px;
  left: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.percentageprogress {
  position: absolute;
  top: 590px;
  left: 63px;
  width: 571px;
  height: 31px;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
}
.frame-child5 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 39px;
  height: 39px;
}
.circle-colors-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child6 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-navajowhite);
  width: 39px;
  height: 39px;
}
.frame-child7 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 39px;
  height: 39px;
}
.circle-colors {
  position: absolute;
  top: 586px;
  left: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 211px;
}
.circular-progress-parent {
  position: absolute;
  top: 153px;
  left: 449px;
  width: 993px;
  height: 625px;
}
.microsoftteams-image-1-3 {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 372px;
  height: 116px;
  object-fit: cover;
}
.tablerdots-icon {
  position: absolute;
  top: 409px;
  left: 1064px;
  width: 38px;
  height: 34px;
  overflow: hidden;
  object-fit: cover;
}
.dashboard-progress-child1 {
  position: absolute;
  top: 859px;
  left: 415px;
  border-radius: var(--br-xl) var(--br-xl) 0px 0px;
  background-color: var(--color-white);
  box-shadow: 1px 0px 13px 4px rgba(0, 0, 0, 0.25);
  width: 1203px;
  height: 218px;
}
.group-child93 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0px 4px 13px 4px rgba(0, 0, 0, 0.25);
  width: 1119px;
  height: 76px;
}

.group-child933 {
  position: absolute;
  top: 0px;
  left: 340px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0px 4px 13px 4px rgba(0, 0, 0, 0.25);
  width: 1119px;
  height: 76px;
}

.kurso-2-pagsasalita1 {
  font-weight: 600;
  font-family: var(--font-roboto);
}
.pagsusulat {
  font-weight: 600;
}
.kurso-2-pagsasalita-container {
  position: absolute;
  top: 26px;
  left: 91px;
  width:500px;
}
.kurso-2-pagsasalita-container2 {
  position: absolute;
  top: 26px;
  left: 440px;
  width:500px;
}
.microsoftteams {
  position: absolute;
  top: 9px;
  left: 13px;
  width: 59px;
  height: 58px;
  object-fit: cover;
}
.in-progress1 {
  position: absolute;
  top: 29px;
  left: 704px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
}
.group-child94 {
  position: absolute;
  top: 24px;
  left: 1057px;
  border-radius: 50%;
  background-color: var(--color-navajowhite);
  width: 28px;
  height: 28px;
}
.rectangle-parent35 {
  position: absolute;
  top: 983px;
  left: 455px;
  width: 1119px;
  height: 76px;
}
.pambungad {
  font-weight: 600;
  font-family: var(--font-open-sans);
}
.completed1 {
  position: absolute;
  top: 29px;
  left: 704px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--color-gray-100);
}
.completed12 {
  position: absolute;
  top: 29px;
  left: 1045px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--color-gray-100);
}
.group-child96 {
  position: absolute;
  top: 24px;
  left: 1400px;
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 28px;
  height: 28px;
}
.ca88b0e1-977b-4453-99ba-b1a77c-icon4 {
  position: absolute;
  top: 1px;
  left: 360px;
  width: 56px;
  height: 73px;
  object-fit: cover;
}
.rectangle-parent36 {
  position: absolute;
  top: 881px;
  left: 455px;
  width: 1119px;
  height: 76px;
  font-family: var(--font-roboto);
}
.performance-child {
  position: absolute;
  height: 88.97%;
  width: 99.6%;
  top: 11.03%;
  right: 0%;
  bottom: 0%;
  left: 0.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child97 {
  position: absolute;
  height: 90.42%;
  width: 100%;
  top: 9.58%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-200);
}
.group-child98 {
  position: absolute;
  height: 90.42%;
  width: 100%;
  top: 9.58%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: var(--color-mediumslateblue);
}
.group-child99 {
  position: absolute;
  height: 90.42%;
  width: 100%;
  top: 9.58%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: var(--color-gold);
}
.y1 {
  position: absolute;
  top: -16.57%;
  left: 122.44%;
  font-weight: 600;
  transform: rotate(34.01deg);
  transform-origin: 0 0;
}
.c2 {
  position: absolute;
  top: -23.96%;
  left: 108.33%;
  font-weight: 600;
  transform: rotate(24.64deg);
  transform-origin: 0 0;
}
.n4 {
  position: absolute;
  top: -29.32%;
  left: 92.11%;
  font-weight: 600;
  transform: rotate(15.27deg);
  transform-origin: 0 0;
}
.e7 {
  position: absolute;
  top: -31.47%;
  left: 76.56%;
  font-weight: 600;
  transform: rotate(5.9deg);
  transform-origin: 0 0;
}
.i4 {
  position: absolute;
  top: -31.35%;
  left: 65.22%;
  font-weight: 600;
  transform: rotate(-1.64deg);
  transform-origin: 0 0;
}
.c3 {
  position: absolute;
  top: -29.32%;
  left: 50.33%;
  font-weight: 600;
  transform: rotate(-9.19deg);
  transform-origin: 0 0;
}
.i5 {
  position: absolute;
  top: -26.1%;
  left: 39.33%;
  font-weight: 600;
  transform: rotate(-16.74deg);
  transform-origin: 0 0;
}
.f2 {
  position: absolute;
  top: -21.22%;
  left: 28%;
  font-weight: 600;
  transform: rotate(-23.38deg);
  transform-origin: 0 0;
}
.f3 {
  position: absolute;
  top: -14.78%;
  left: 17.22%;
  font-weight: 600;
  transform: rotate(-30.47deg);
  transform-origin: 0 0;
}
.e8 {
  position: absolute;
  top: -2.03%;
  left: 1.89%;
  font-weight: 600;
  transform: rotate(-39.84deg);
  transform-origin: 0 0;
}
.efficiency1 {
  position: absolute;
  height: 32.42%;
  width: 36.14%;
  top: 24.54%;
  right: 38.27%;
  bottom: 43.04%;
  left: 25.58%;
  transform: rotate(-44.84deg);
  transform-origin: 0 0;
}
.ellipse-group {
  position: absolute;
  height: 98.4%;
  width: 99.6%;
  top: 1.6%;
  right: 0%;
  bottom: 0%;
  left: 0.4%;
}
.s2 {
  position: absolute;
  top: -247.53%;
  left: -14.04%;
  font-weight: 600;
  transform: rotate(-69.14deg);
  transform-origin: 0 0;
}
.s3 {
  position: absolute;
  top: -221.29%;
  left: -16.64%;
  font-weight: 600;
  transform: rotate(-77.15deg);
  transform-origin: 0 0;
}
.e9 {
  position: absolute;
  top: -191.83%;
  left: -17.78%;
  font-weight: 600;
  transform: rotate(-85.61deg);
  transform-origin: 0 0;
}
.n5 {
  position: absolute;
  top: -158.92%;
  left: -17.13%;
  font-weight: 600;
  transform: rotate(-94.98deg);
  transform-origin: 0 0;
}
.i6 {
  position: absolute;
  top: -137.2%;
  left: -15.34%;
  font-weight: 600;
  transform: rotate(-102.98deg);
  transform-origin: 0 0;
}
.l1 {
  position: absolute;
  top: -117.2%;
  left: -12.99%;
  font-weight: 600;
  transform: rotate(-109.17deg);
  transform-origin: 0 0;
}
.e10 {
  position: absolute;
  top: -90.97%;
  left: -8.36%;
  font-weight: 600;
  transform: rotate(-116.72deg);
  transform-origin: 0 0;
}
.m2 {
  position: absolute;
  top: -53.12%;
  left: 1.95%;
  font-weight: 600;
  transform: rotate(-128.37deg);
  transform-origin: 0 0;
}
.i7 {
  position: absolute;
  top: -37.2%;
  left: 8.77%;
  font-weight: 600;
  transform: rotate(-138.66deg);
  transform-origin: 0 0;
}
.t2 {
  position: absolute;
  top: -16.13%;
  left: 20.29%;
  font-weight: 600;
  transform: rotate(-147.58deg);
  transform-origin: 0 0;
}
.timeliness1 {
  position: absolute;
  height: 17.68%;
  width: 49.28%;
  top: 86.46%;
  right: 36.64%;
  bottom: -4.14%;
  left: 14.08%;
  transform: rotate(-106.59deg);
  transform-origin: 0 0;
}
.t3 {
  position: absolute;
  top: 86.01%;
  left: -106.38%;
  font-weight: 600;
  transform: rotate(-174.08deg);
  transform-origin: 0 0;
}
.n6 {
  position: absolute;
  top: 86.01%;
  left: -90.1%;
  font-weight: 600;
  transform: rotate(177.91deg);
  transform-origin: 0 0;
}
.e11 {
  position: absolute;
  top: 83.66%;
  left: -74.7%;
  font-weight: 600;
  transform: rotate(168.54deg);
  transform-origin: 0 0;
}
.m3 {
  position: absolute;
  top: 76.22%;
  left: -52.48%;
  font-weight: 600;
  transform: rotate(156.89deg);
  transform-origin: 0 0;
}
.e12 {
  position: absolute;
  top: 68%;
  left: -38.72%;
  font-weight: 600;
  transform: rotate(145.23deg);
  transform-origin: 0 0;
}
.g2 {
  position: absolute;
  top: 58.02%;
  left: -26.29%;
  font-weight: 600;
  transform: rotate(135.87deg);
  transform-origin: 0 0;
}
.a1 {
  position: absolute;
  top: 47.06%;
  left: -16.72%;
  font-weight: 600;
  transform: rotate(126.5deg);
  transform-origin: 0 0;
}
.g3 {
  position: absolute;
  top: 33.95%;
  left: -8.58%;
  font-weight: 600;
  transform: rotate(117.13deg);
  transform-origin: 0 0;
}
.n7 {
  position: absolute;
  top: 19.67%;
  left: -3.08%;
  font-weight: 600;
  transform: rotate(107.3deg);
  transform-origin: 0 0;
}
.e13 {
  position: absolute;
  top: 2.35%;
  left: -0.11%;
  font-weight: 600;
  transform: rotate(96.56deg);
  transform-origin: 0 0;
}
.engagement1 {
  position: absolute;
  height: 38.86%;
  width: 36.36%;
  top: 60.76%;
  right: -27.04%;
  bottom: 0.38%;
  left: 90.68%;
  transform: rotate(91.55deg);
  transform-origin: 0 0;
}
.div15 {
  position: absolute;
  top: 0%;
  left: 45.6%;
}
.performance1 {
  position: absolute;
  top: 464px;
  left: 1274px;
  width: 250px;
  height: 263px;
}
.div16 {
  position: absolute;
  top: 301px;
  left: 1501px;
  font-weight: 600;
}
.div17 {
  position: absolute;
  top: 301px;
  left: 1400px;
  font-weight: 600;
}
.div18 {
  position: absolute;
  top: 301px;
  left: 1299px;
  font-weight: 600;
}
.vector-icon74 {
  position: absolute;
  height: 58.4%;
  width: 45.83%;
  top: 0%;
  right: 27.98%;
  bottom: 41.6%;
  left: 26.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parent-mode17 {
  position: absolute;
  top: 64px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 61px;
}
.vector-parent36 {
  position: relative;
  width: 168px;
  height: 125px;
}
.group-child100 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  width: 84px;
  height: 46px;
}
.group-child101 {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.parentSwitch {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 84px;
  height: 46px;
}
.parent-mode16 {
  position: absolute;
  top: 760px;
  left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-love-ya-like-a-sister);
}
.rectangle-sign-in-button8 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 203px;
  height: 63px;
}
.rectangle-sign-in-button-wrapper6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 63px;
}
.log-out9 {
  position: absolute;
  top: 14px;
  left: 46px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 52px;
}
.group-parent33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 66px;
}
.group-icon28 {
  position: absolute;
  height: 45.45%;
  width: 13.45%;
  top: 25.76%;
  right: 75.22%;
  bottom: 28.79%;
  left: 11.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-parent32 {
  position: relative;
  width: 203px;
  height: 66px;
}
.logout8 {
  cursor: pointer;
  border: none;
  padding: var(--padding-xl) 0px 0px;
  background-color: transparent;
  position: absolute;
  top: 968px;
  left: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-progress {
  position: relative;
  background-color: var(--color-deepskyblue-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
