.group-child36_CP {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslateblue-100);
    width: 336px;
    height: 94px;
  }
  .contact-us15_CP {
    position: absolute;
    top: 0;
    left: 46px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 198px;
    height: 58px;
  }
  .vector-icon47_CP {
    position: absolute;
    height: 51.72%;
    width: 12.3%;
    top: 17.24%;
    right: 87.7%;
    bottom: 31.03%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contact-us-parent11_CP {
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    height: 58px;
  }
  .contact-us-inner4_CP {
    position: relative;
    width: 244px;
    height: 58px;
    cursor: pointer;
  }
  .contact-us14_CP {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 74px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon48_CP {
    position: absolute;
    height: 35.71%;
    width: 10.49%;
    top: 8.33%;
    right: 89.51%;
    bottom: 55.95%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .progress15_CP {
    position: absolute;
    top: 0;
    left: 46px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 240px;
    height: 84px;
  }
  .vector-parent24_CP {
    position: relative;
    width: 286px;
    height: 84px;
    cursor: pointer;
  }
  .progress14_CP {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 239px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon49_CP {
    position: absolute;
    height: 58.4%;
    width: 45.83%;
    top: 0;
    right: 27.98%;
    bottom: 41.6%;
    left: 26.19%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .parent-mode9_CP {
    position: absolute;
    color: #F24E1E;
    top: 64px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 61px;
  }
  .vector-parent25_CP {
    position: absolute;
    height: 23.5%;
    width: 58.74%;
    top: 76.5%;
    right: 31.82%;
    bottom: 0;
    left: 9.44%;
  }
  .home10_CP {
    position: absolute;
    top: 0;
    left: 44px;
    display: inline-block;
    width: 171px;
    height: 84px;
  }
  .vector-icon50_CP {
    position: absolute;
    height: 35.71%;
    width: 12.51%;
    top: 8.33%;
    right: 87.49%;
    bottom: 55.95%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .home-parent6_CP {
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: 84px;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
  }
  .contact-us-parent10_CP,
  .vector-icon51_CP {
    position: absolute;
    top: 21px;
    left: 30px;
    width: 286px;
    height: 532px;
  }
  .vector-icon51_CP {
    height: 35.71%;
    width: 7.84%;
    top: 10.71%;
    right: 92.16%;
    bottom: 53.57%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .courses18_CP {
    position: absolute;
    top: 0;
    left: 42px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 231px;
    height: 84px;
  }
  .vector-parent26_CP {
    position: relative;
    width: 273px;
    height: 84px;
    cursor: pointer;
  }
  .courses17_CP {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 176px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-icon9_CP,
  .group-parent24_CP {
    position: absolute;
    top: 0;
    left: 0;
    width: 336px;
    height: 553px;
  }
  .group-icon9_CP {
    height: 35.71%;
    width: 10.47%;
    top: 8.33%;
    right: 89.53%;
    bottom: 55.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .settings19_CP {
    position: absolute;
    top: 0;
    left: 44px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 231px;
    height: 84px;
  }
  .group-parent25_CP {
    position: relative;
    width: 275px;
    height: 84px;
    cursor: pointer;
  }
  .settings18_CP {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 344px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-parent23_CP {
    position: absolute;
    top: 335px;
    left: 16px;
    width: 336px;
    height: 553px;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-orangered);
  }
  .dashboard-contact-parent-child_CP {
    position: absolute;
    top: 56px;
    left: 315px;
    border-radius: var(--br-87xl) 0 0 var(--br-xl);
    background-color: var(--color-white);
    width: 1361px;
    height: 1013px;
  }
  .dashboard-contact-parent-item_CP {
    position: absolute;
    top: 84px;
    left: 352px;
    border-radius: var(--br-42xl-5) 0 0 0;
    background-color: var(--color-goldenrod);
    width: 1279px;
    height: 960px;
  }
  .microsoftteams-image-1-15_CP {
    position: absolute;
    top: 20px;
    left: 0;
    width: 372px;
    height: 336px;
    object-fit: cover;
  }
  .group-child37_CP {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1156px;
    height: 152px;
  }
  .group-child38_CP,
  .group-child39_CP {
    position: absolute;
    border-radius: 50%;
  }
  .group-child38_CP {
    top: 18px;
    left: 39px;
    background-color: var(--color-darkslateblue-100);
    width: 117px;
    height: 103px;
  }
  .group-child39_CP {
    top: 27.3px;
    left: 49px;
    width: 98px;
    height: 85.6px;
    object-fit: cover;
  }
  .marie-antoinette-cruz_CP {
    margin: 0;
  }
  .marie-antoinette-cruz-container_CP {
    position: absolute;
    top: 38px;
    left: 187px;
    letter-spacing: 0.05em;
    display: inline-block;
    width: 829px;
    height: 55px;
  }
  .rectangle-parent26_CP {
    position: absolute;
    top: 140px;
    left: 402px;
    width: 1156px;
    height: 152px;
    font-size: var(--font-size-51xl);
    font-family: var(--font-bangers);
  }
  .vector-icon52_CP {
    position: absolute;
    height: 25.78%;
    width: 29.63%;
    top: 108.42%;
    right: 73.26%;
    bottom: -34.2%;
    left: -2.89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .dashboard-contact-parent-inner_CP {
    position: absolute;
    top: 197px;
    left: 1505px;
    width: 10.6px;
    height: 38px;
    cursor: pointer;
  }
  .dashboard-contact-parent-child1_CP {
    position: absolute;
    top: 335px;
    left: 700px;
    border-radius: var(--br-31xl);
    background-color: #67E4FF;
    box-shadow: 1px 0 13px 4px rgba(0, 0, 0, 0.25);
    width: 584px;
    height: 653px;
  }
  .dashboard-contact-parent-child2_CP {
    position: absolute;
    top: 473px;
    left: 778px;
    background-color: var(--color-white);
    width: 435px;
    height: 66px;
  }
  .email-adress_CP {
    position: absolute;
    top: 447px;
    left: 778px;
    display: inline-block;
    width: 267px;
    height: 49px;
  }
  .dashboard-contact-parent-child3_CP {
    position: absolute;
    top: 603px;
    left: 778px;
    background-color: var(--color-white);
    width: 435px;
    height: 66px;
  }
  .contact_CP {
    position: absolute;
    top: 577px;
    left: 778px;
    display: inline-block;
    width: 267px;
    height: 49px;
  }
  .dashboard-contact-parent-child4_CP {
    position: absolute;
    top: 734px;
    left: 778px;
    background-color: var(--color-white);
    width: 435px;
    height: 66px;
  }
  .address_CP {
    position: absolute;
    top: 708px;
    left: 778px;
    display: inline-block;
    width: 267px;
    height: 49px;
  }
  .div9_CP {
    position: absolute;
    left: 801px;
    top: 620px;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    font-family: var(--font-open-sans);
  }
  .marieantoinettecruzyahoocom_CP,
  .springtree-cebu-city_CP {
    position: absolute;
    left: 801px;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    font-family: var(--font-open-sans);
  }
  .marieantoinettecruzyahoocom_CP {
    top: 496px;
    color: inherit;
    display: inline-block;
    width: 382px;
    height: 44px;
    text-decoration: none;
  }
  .div9,
  .springtree-cebu-city_CP {
    top: 626px;
  }
  .springtree-cebu-city_CP {
    top: 754px;
  }
  .vector-icon53_CP,
  .vector-icon54_CP,
  .vector-icon55_CP {
    position: absolute;
    height: 1.61%;
    width: 1.04%;
    top: 40.02%;
    right: 55.67%;
    bottom: 58.37%;
    left: 43.29%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon54_CP,
  .vector-icon55_CP {
    top: 52.28%;
    bottom: 46.11%;
  }
  .vector-icon55_CP {
    top: 63.38%;
    bottom: 35%;
  }
  .group-child43_CP {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-81xl);
    background-color: var(--color-orangered);
    width: 84px;
    height: 46px;
  }
  .group-child44_CP {
    position: absolute;
    top: 4px;
    left: 39px;
    width: 38px;
    height: 38px;
  }
  .rectangle-parent28_CP {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 880px;
    left: 114px;
    width: 84px;
    height: 46px;
  }
  .dashboard-contact-parent_CP {
    position: relative;
    background-color: var(--color-deepskyblue-200);
    width: 100%;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-love-ya-like-a-sister);
  }
  