.group-child10_PTS {
    position: absolute;
    top: 227px;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslateblue-100);
    width: 336px;
    height: 94px;
  }
  .contact-us3_PTS {
    position: absolute;
    top: 0;
    left: 46px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 198px;
    height: 58px;
  }
  .vector-icon10_PTS {
    position: absolute;
    height: 51.72%;
    width: 12.3%;
    top: 17.24%;
    right: 87.7%;
    bottom: 31.03%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contact-us-container_PTS,
  .group-wrapper5_PTS {
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    height: 58px;
  }
  .group-wrapper5_PTS {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
  .vector-icon11_PTS {
    position: absolute;
    height: 35.71%;
    width: 10.49%;
    top: 8.33%;
    right: 89.51%;
    bottom: 55.95%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .progress4_PTS {
    position: absolute;
    top: 0;
    left: 46px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 240px;
    height: 84px;
  }
  .vector-parent4_PTS {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 18.34%;
    width: 100%;
    top: 36.03%;
    right: 0;
    bottom: 45.63%;
    left: 0;
  }
  .group-icon3_PTS {
    position: absolute;
    height: 35.71%;
    width: 10.47%;
    top: 8.33%;
    right: 89.53%;
    bottom: 55.95%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .settings5_PTS {
    position: absolute;
    top: 0;
    left: 44px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 231px;
    height: 84px;
  }
  .group-parent7_PTS {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 18.34%;
    width: 96.15%;
    top: 54.37%;
    right: 3.85%;
    bottom: 27.29%;
    left: 0;
  }
  .vector-icon12_PTS {
    position: absolute;
    height: 58.4%;
    width: 45.83%;
    top: 0;
    right: 27.98%;
    bottom: 41.6%;
    left: 26.19%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .parent-mode3_PTS {
    position: absolute;
    top: 64px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 61px;
  }
  .vector-parent5_PTS {
    position: absolute;
    height: 27.29%;
    width: 58.74%;
    top: 72.71%;
    right: 31.82%;
    bottom: 0;
    left: 9.44%;
  }
  .group-parent6_PTS,
  .home3_PTS,
  .rectangle-parent8_PTS {
    position: absolute;
    top: 0;
    left: 30px;
    width: 286px;
    height: 458px;
  }
  .home3_PTS,
  .rectangle-parent8_PTS {
    top: 74px;
    left: 0;
    width: 336px;
  }
  .home3_PTS {
    top: 0;
    left: 44px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 98px;
    height: 49px;
  }
  .vector-icon13_PTS {
    position: absolute;
    height: 61.22%;
    width: 18.94%;
    top: 14.29%;
    right: 81.06%;
    bottom: 24.49%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .home-container_PTS {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 30px;
    width: 142px;
    height: 49px;
  }
  .group-parent5_PTS,
  .vector-icon14_PTS {
    position: absolute;
    top: 0;
    left: 0;
    width: 336px;
    height: 532px;
  }
  .vector-icon14_PTS {
    height: 35.71%;
    width: 7.84%;
    top: 10.71%;
    right: 92.16%;
    bottom: 53.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .courses4_PTS {
    position: absolute;
    top: 0;
    left: 42px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 231px;
    height: 84px;
  }
  .vector-parent6_PTS {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 15.79%;
    width: 81.25%;
    top: 29.14%;
    right: 9.82%;
    bottom: 55.08%;
    left: 8.93%;
  }
  .group-parent4_PTS {
    position: absolute;
    top: 356px;
    left: 16px;
    width: 336px;
    height: 532px;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-orangered);
  }
  .dashboard-parent-settings-child_PTS {
    position: absolute;
    top: 64px;
    left: 336px;
    border-radius: var(--br-87xl) 0 0 var(--br-xl);
    background-color: var(--color-white);
    width: 1361px;
    height: 1013px;
  }
  .div3_PTS,
  .settings6_PTS {
    position: absolute;
    left: 397px;
  }
  .div3_PTS {
    top: 547px;
    font-size: var(--font-size-xl);
    font-weight: 100;
    font-family: var(--font-inter);
    display: inline-block;
    width: 1220px;
  }
  .settings6_PTS {
    top: 125px;
    font-size: var(--font-size-51xl);
    font-family: var(--font-bangers);
    color: var(--color-black);
    display: none;
    width: 237px;
    height: 63px;
  }
  .dashboard-parent-settings-child1_PTS,
  .dashboard-parent-settings-child2_PTS,
  .dashboard-parent-settings-child3_PTS,
  .dashboard-parent-settings-inner_PTS,
  .dashboard-parent-settings-item_PTS {
    position: absolute;
    top: 628px;
    left: 397px;
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 597px;
    height: 59px;
  }
  .dashboard-parent-settings-child1_PTS,
  .dashboard-parent-settings-child2_PTS,
  .dashboard-parent-settings-child3_PTS,
  .dashboard-parent-settings-inner_PTS {
    left: 1069px;
    width: 540px;
  }
  .dashboard-parent-settings-child1_PTS,
  .dashboard-parent-settings-child2_PTS,
  .dashboard-parent-settings-child3_PTS {
    top: 749px;
  }
  .dashboard-parent-settings-child2_PTS,
  .dashboard-parent-settings-child3_PTS {
    top: 915px;
    left: 397px;
    width: 1212px;
  }
  .dashboard-parent-settings-child3_PTS {
    top: 749px;
    width: 597px;
  }
  .dashboard-parent-settings-child4_PTS {
    position: absolute;
    top: 435px;
    left: 736px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    width: 164px;
    height: 59px;
  }
  .dashboard-parent-settings-child5_PTS {
    position: absolute;
    top: 408px;
    left: 397px;
    border-radius: 50%;
    width: 114px;
    height: 114px;
    object-fit: cover;
  }
  .group-child11_PTS {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-deepskyblue-200);
    width: 164px;
    height: 59px;
  }
  .upload-new_PTS {
    position: absolute;
    top: 17px;
    left: 22px;
    display: inline-block;
    width: 118px;
    height: 25px;
  }
  .delete-avatar_PTS,
  .rectangle-parent9_PTS {
    position: absolute;
    top: 435px;
    left: 543px;
    width: 164px;
    height: 59px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-open-sans);
  }
  .delete-avatar_PTS {
    top: 452px;
    left: 761px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    display: inline-block;
    width: 131px;
    height: 25px;
  }
  .filipino_PTS,
  .gelu1_PTS {
    color: var(--color-black);
    width: 183px;
  }
  .gelu1_PTS {
    position: absolute;
    top: 644px;
    left: 424px;
    font-weight: 600;
    font-family: var(--font-inter);
    display: inline-block;
    height: 63px;
  }
  .filipino_PTS {
    top: 765px;
    left: 449px;
  }
  .filipino_PTS,
  .student1_PTS,
  .ursal1_PTS,
  .yahoogmailcom_PTS {
    position: absolute;
    font-weight: 600;
    font-family: var(--font-inter);
    display: inline-block;
    height: 63px;
  }
  .yahoogmailcom_PTS {
    top: 932px;
    left: 424px;
    width: 204px;
  }
  .student1_PTS,
  .ursal1_PTS {
    width: 183px;
  }
  .ursal1_PTS {
    top: 644px;
    left: 1091px;
    color: var(--color-black);
  }
  .student1_PTS {
    top: 766px;
    left: 1085px;
  }
  .your-avatar1_PTS {
    position: absolute;
    top: 371px;
    left: 397px;
  }
  .firstname1_PTS,
  .lastname1_PTS,
  .role1 {
    position: absolute;
    top: 598px;
    left: 397px;
  }
  .lastname1_PTS,
  .role1_PTS {
    left: 1069px;
  }
  .role1_PTS {
    top: 722px;
  }
  .email_PTS,
  .nationality_PTS {
    position: absolute;
    top: 721px;
    left: 397px;
  }
  .email_PTS {
    top: 888px;
  }
  .emojioneflag-for-philippines-icon_PTS {
    position: absolute;
    top: 766px;
    left: 410px;
    width: 27px;
    height: 26px;
    overflow: hidden;
  }
  .microsoftteams-image-1-4_PTS,
  .n-2-icon1_PTS {
    position: absolute;
    top: 84px;
    left: 1469px;
    width: 215px;
    height: 185px;
    object-fit: cover;
  }
  .microsoftteams-image-1-4_PTS {
    top: 130px;
    left: 0;
    width: 372px;
    height: 116px;
  }
  .settings7_PTS {
    position: absolute;
    top: 125px;
    left: 397px;
    font-size: var(--font-size-51xl);
    font-family: var(--font-bangers);
    color: var(--color-black);
    display: inline-block;
    width: 237px;
    height: 63px;
  }
  .group-child12_PTS {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-deepskyblue-200);
    box-sizing: border-box;
    width: 128px;
    height: 59px;
  }
  .rectangle-wrapper_PTS {
    position: relative;
    width: 128px;
    height: 59px;
    z-index: 0;
  }
  .profile2_PTS {
    position: absolute;
    margin: 0 !important;
    top: 13px;
    left: 28px;
    font-size: var(--font-size-3xl);
    font-weight: 600;
    font-family: var(--font-open-sans);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    width: 71px;
    height: 29px;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-button_PTS {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 225px;
    left: 397px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .group-child13_PTS {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    border: 2px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 128px;
    height: 59px;
  }
  .rectangle-frame_PTS {
    position: relative;
    width: 128px;
    height: 59px;
    cursor: pointer;
    z-index: 0;
  }
  .password2_PTS {
    position: absolute;
    margin: 0 !important;
    top: 13px;
    left: 17px;
    font-size: var(--font-size-2xl);
    font-weight: 600;
    font-family: var(--font-open-sans);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    width: 98px;
    height: 30px;
    flex-shrink: 0;
    z-index: 1;
  }
  .group-parent8_PTS {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 225px;
    left: 549px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .group-child14_PTS {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-81xl);
    background-color: var(--color-orangered);
    width: 84px;
    height: 46px;
  }
  .group-child15_PTS {
    position: absolute;
    top: 4px;
    left: 39px;
    width: 38px;
    height: 38px;
  }
  .rectangle-parent10_PTS {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 880px;
    left: 114px;
    width: 84px;
    height: 46px;
  }
  .dashboard-parent-settings_PTS {
    position: relative;
    background-color: var(--color-deepskyblue-200);
    width: 100%;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-gray-400);
    font-family: var(--font-love-ya-like-a-sister);
  }
  