.blueHover_LNS {
  position: absolute;
  top: 80px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslateblue-100);
  width: 336px;
  height: 94px;
}
.vector-icon41_LNS {
  position: absolute;
  height: 35.71%;
  width: 7.84%;
  top: 10.71%;
  right: 92.16%;
  bottom: 53.57%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.courses4_LNS {
  position: absolute;
  top: 0px;
  left: 42px;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.vector-parent12_LNS {
  position: absolute;
  height: 14.46%;
  width: 95.45%;
  top: 17.73%;
  right: 4.55%;
  bottom: 67.81%;
  left: 0%;
  cursor: pointer;
}
.vector-icon42_LNS {
  position: absolute;
  height: 35.71%;
  width: 10.49%;
  top: 8.33%;
  right: 89.51%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.progress9_LNS {
  position: absolute;
  top: 0px;
  left: 46px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 240px;
  height: 84px;
}
.vector-parent13_LNS {
  position: relative;
  width: 286px;
  height: 84px;
}
.progress8_LNS {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 206px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-icon19_LNS {
  position: absolute;
  height: 35.71%;
  width: 10.47%;
  top: 8.33%;
  right: 89.53%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.settings9_LNS {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 231px;
  height: 84px;
}
.group-parent17_LNS {
  position: relative;
  width: 275px;
  height: 84px;
}
.settings8_LNS {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 309px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon43_LNS {
  position: absolute;
  height: 58.4%;
  width: 45.83%;
  top: 0%;
  right: 27.98%;
  bottom: 41.6%;
  left: 26.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parent-mode9_LNS {
  position: absolute;
  top: 64px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 61px;
}
.vector-parent14_LNS {
  position: relative;
  width: 168px;
  height: 125px;
}
.group-child71_LNS {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-100);
  width: 84px;
  height: 46px;
}
.group-child72_LNS {
  position: absolute;
  top: 4px;
  left: 7px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.rectangle-parent24_LNS {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 84px;
  height: 46px;
}
.parent-mode8_LNS {
  position: absolute;
  top: 410px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslateblue-100);
}
.home9_LNS {
  position: absolute;
  top: 0px;
  left: 44px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 171px;
  height: 84px;
}
.vector-icon44_LNS {
  position: absolute;
  height: 35.71%;
  width: 12.51%;
  top: 8.33%;
  right: 87.49%;
  bottom: 55.95%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-parent2_LNS {
  position: relative;
  width: 215px;
  height: 84px;
}
.home8_LNS {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonGroup_LNS {
  position: absolute;
  height: 100%;
  width: 85.12%;
  top: 0%;
  right: 8.04%;
  bottom: 0%;
  left: 6.85%;
}
.containerButton_LNS {
  position: absolute;
  top: 335px;
  left: 23px;
  width: 336px;
  height: 581px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-love-ya-like-a-sister);
}
.fluenttriangle-16-filled4_LNS {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.dashboard-lessons-child_LNS {
  position: absolute;
  top: 59px;
  left: 315px;
  border-radius: var(--br-87xl) 0px 0px var(--br-xl);
  background-color: var(--color-white);
  width: 1361px;
  height: 1009px;
}
.dashboard-lessons-item_LNS {
  position: absolute;
  top: 1035.1px;
  left: 362.9px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 778.6px;
  height: 1268.9px;
  transform: rotate(-90.07deg);
  transform-origin: 0 0;
}
.microsoftteams-image-1-24_LNS {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 372px;
  height: 116px;
  object-fit: cover;
}
.dashboard-lessons-inner_LNS {
  position: absolute;
  top: 703px;
  left: 531px;
  border-radius: var(--br-31xl);
  width: 247px;
  height: 257px;
  object-fit: cover;
}
.dashboard-lessons-child1_LNS {
  position: absolute;
  top: 289px;
  left: 390px;
  border-radius: var(--br-31xl);
  width: 1128px;
  height: 202px;
  object-fit: cover;
  background-color: #FF7F7F;
}
.dashboard-lessons-child2_LNS {
  position: absolute;
  top: 520px;
  left: 390px;
  border-radius: var(--br-11xl);
  width: 1128px;
  height: 115px;
  object-fit: cover;
}
.pambungad-sa-wikang_LNS {
  margin: 0;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.kurso-1-pambungad-container5_LNS {
  position: absolute;
  top: 312px;
  left: 713px;
  font-family: var(--font-bangers);
  display: inline-block;
  width: 488px;
  height: 85px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
}
.introduction-to-filipino_LNS {
  position: absolute;
  top: 421px;
  left: 713px;
  font-size: var(--font-size-xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-gray-100);
  display: inline-block;
  width: 488px;
  height: 39px;
}
.ca88b0e1-977b-4453-99ba-b1a77c-icon2_LNS {
  position: absolute;
  top: 285px;
  left: 529px;
  width: 179px;
  height: 198px;
  object-fit: cover;
}
.start-course-child_LNS {
  position: absolute;
  top: -2px;
  left: -6px;
  border-radius: var(--br-31xl);
  width: 282px;
  height: 202px;
  object-fit: cover;
  cursor: pointer;
  background-color: #971515;
}
.startCourse_LNS {
  margin: 0;
}
.start-course1_LNS {
  position: absolute;
  top: -30px;
  left: 20px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-bangers);
  color: var(--color-white);
  text-align: center;
}
.start-course_LNS {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 290px;
  left: 1242px;
  width: 270px;
  height: 190px;
}
.aralin-1-pagbati_LNS {
  margin: 0;
  padding-left: var(--padding-24xl);
  font-size: 30px;
  font-family: 'Love Ya Like A Sister';
}
.aralin-1-pagbati-container4_LNS {
  position: absolute;
  top: 554px;
  left: 420px;
  display: flex;
  align-items: center;
  width: 1038px;
  height: 45px;
}
.dashboard-lessons-child3_LNS {
  position: absolute;
  top: 647px;
  left: 390px;
  border-radius: var(--br-11xl);
  width: 1128px;
  height: 115px;
  object-fit: cover;
}
.aralin-1-pagbati-container5_LNS {
  position: absolute;
  top: 681px;
  left: 420px;
  display: flex;
  align-items: center;
  width: 1038px;
  height: 45px;
}
.group-child73_LNS {
  position: absolute;
  top: -2px;
  left: -6px;
  border-radius: var(--br-11xl);
  width: 1128px;
  height: 115px;
  object-fit: cover;
  background-color: #FDFD96;
}


.aralin-3-payak-container_LNS {
  position: absolute;
  top: 34px;
  left: 18px;
  display: flex;
  align-items: center;
  width: 1038px;
  height: 45px;
}
.vector-parent15_LNS {
  position: absolute;
  top: 772px;
  left: 394px;
  width: 1116px;
  height: 103px;
}
.aralin-4-pamilya-container_LNS {
  position: absolute;
  top: 29px;
  left: 13px;
  display: flex;
  align-items: center;
  width: 1038px;
  height: 45px;
}
.vector-parent16_LNS {
  position: absolute;
  top: 901px;
  left: 399px;
  width: 1116px;
  height: 103px;
}
.aralin-2-batayang-container_LNS {
  position: absolute;
  top: 36px;
  left: 16px;
  display: flex;
  align-items: center;
  width: 1038px;
  height: 45px;
}
.vector-parent17_LNS {
  position: absolute;
  top: 649px;
  left: 396px;
  width: 1116px;
  height: 103px;
}
.aralin-1-pagbati-container6_LNS {
  position: absolute;
  top: 34px;
  left: 16px;
  display: flex;
  align-items: center;
  width: 1038px;
  height: 45px;
}
.vector-parent18_LNS {
  position: absolute;
  top: 522px;
  left: 396px;
  width: 1116px;
  height: 103px;
}
.return-arrow-icon_LNS {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99px;
  height: 190px;
  object-fit: cover;
}
.return-arrow4_LNS {
  cursor: pointer;
  border: none;
  padding: 0;
  position: absolute;
  top: 290px;
  left: 390px;
  width: 99px;
  height: 199px;
  background-color: #971515;
  border-radius: 50px 00px 0px 50px;
}
.group-child77_LNS {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-42xl-5) 0px 0px 0px;
  background-color: var(--color-goldenrod);
  width: 1279px;
  height: 155px;
}
.group-child78_LNS {
  position: absolute;
  top: -2px;
  left: -6px;
  border-radius: var(--br-31xl);
  width: 449px;
  height: 110px;
  object-fit: cover;
  background-color: white;
}
.gelu-ursal4_LNS {
  position: absolute;
  top: 40px;
  left: 214px;
  display: inline-block;
  width: 181px;
  height: 32px;
}
.microsoftteams-image-1-72_LNS {
  position: absolute;
  top: 21px;
  left: 127px;
  width: 58px;
  height: 54px;
  object-fit: cover;
}
.vector-icon45_LNS {
  position: absolute;
  height: 44.9%;
  width: 11.21%;
  top: 23.47%;
  right: 77.8%;
  bottom: 31.63%;
  left: 10.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon46_LNS {
  position: absolute;
  height: 13.37%;
  width: 3.2%;
  top: 48.98%;
  right: 13.96%;
  bottom: 37.65%;
  left: 82.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-parent19_LNS {
  position: absolute;
  top: 29px;
  left: 801px;
  width: 437px;
  height: 98px;
}
.kurso_LNS {
  position: absolute;
  top: 5px;
  left: 73px;
  display: inline-block;
  width: 237px;
  height: 63px;
}
.vector-icon47_LNS {
  position: absolute;
  height: 100%;
  width: 17.1%;
  top: 0%;
  right: 82.9%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kurso-parent_LNS {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 310px;
  height: 74px;
}
.group-wrapper4_LNS {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 310px;
  height: 74px;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
  font-family: var(--font-bangers);
}
.rectangle-parent25_LNS {
  position: absolute;
  top: 84px;
  left: 352px;
  width: 1279px;
  height: 155px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
}
.dashboard-lessons-child4_LNS {
  position: absolute;
  top: 344px;
  left: 1550px;
  width: 30px;
  height: 684px;
  object-fit: cover;
}
.rectangle-sign-in-button4_LNS {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 203px;
  height: 63px;
}
.rectangle-sign-in-button-wrapper2_LNS {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 63px;
}
.log-out5_LNS {
  position: absolute;
  top: 14px;
  left: 46px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-love-ya-like-a-sister);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 142px;
  height: 52px;
}
.group-parent19_LNS {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 203px;
  height: 66px;
}
.group-icon20_LNS {
  position: absolute;
  height: 45.45%;
  width: 13.45%;
  top: 25.76%;
  right: 75.22%;
  bottom: 28.79%;
  left: 11.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-parent18_LNS {
  position: relative;
  width: 203px;
  height: 66px;
}
.logout4_LNS {
  cursor: pointer;
  border: none;
  padding: var(--padding-xl) 0px 0px;
  background-color: transparent;
  position: absolute;
  top: 968px;
  left: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-lessons_LNS {
  position: relative;
  background-color: var(--color-deepskyblue-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-inherit);
  color: var(--color-black);
  font-family: var(--font-inherit);
}

.vector-parent30_LNS {
  position: absolute;
  top: 113px;
  left: 1153px;
  width: 437px;
  height: 98px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
}
.group-child87_LNS {
  position: absolute;
  background-color: white;
  top: -2px;
  left: -6px;
  border-radius: var(--br-31xl);
  width: 449px;
  height: 110px;
  object-fit: cover;
}