.group-child51_PG {
    position: absolute;
    top: 143px;
    left: 0;
    border-radius: var(--br-11xl);
    background-color: var(--color-darkslateblue-100);
    width: 336px;
    height: 94px;
  }
  .contact-us19_PG {
    position: absolute;
    top: 0;
    left: 46px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 198px;
    height: 58px;
  }
  .vector-icon62_PG {
    position: absolute;
    height: 51.72%;
    width: 12.3%;
    top: 17.24%;
    right: 87.7%;
    bottom: 31.03%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contact-us-parent15_PG {
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    height: 58px;
  }
  .contact-us-inner6_PG {
    position: relative;
    width: 244px;
    height: 58px;
    cursor: pointer;
  }
  .contact-us18_PG {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon63_PG {
    position: absolute;
    height: 35.71%;
    width: 10.49%;
    top: 8.33%;
    right: 89.51%;
    bottom: 55.95%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .progress20_PG {
    position: absolute;
    top: 0;
    left: 46px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 240px;
    height: 84px;
  }
  .vector-parent30_PG {
    position: relative;
    width: 286px;
    height: 84px;
  }
  .progress19_PG {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 165px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon64_PG {
    position: absolute;
    height: 58.4%;
    width: 45.83%;
    top: 0;
    right: 27.98%;
    bottom: 41.6%;
    left: 26.19%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .parent-mode11_PG {
    position: absolute;
    top: 64px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 61px;
  }
  .vector-parent31_PG {
    position: absolute;
    height: 27.29%;
    width: 58.74%;
    top: 72.71%;
    right: 31.82%;
    bottom: 0;
    left: 9.44%;
  }
  .contact-us-parent14_PG,
  .rectangle-parent32_PG {
    position: absolute;
    top: 0;
    left: 30px;
    width: 286px;
    height: 458px;
  }
  .rectangle-parent32_PG {
    top: 430px;
    left: 16px;
    width: 336px;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-orangered);
    font-family: var(--font-love-ya-like-a-sister);
  }
  .dashboard-parent-progress-child_PG {
    position: absolute;
    top: 64px;
    left: 336px;
    border-radius: var(--br-87xl) 0 0 var(--br-xl);
    background-color: var(--color-white);
    width: 1361px;
    height: 1013px;
  }
  .dashboard-parent-progress-item_PG,
  .group-child52_PG,
  .rectangle-statistics_PG {
    position: absolute;
    top: 138px;
    left: 415px;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    box-shadow: 0 4px 13px 4px rgba(0, 0, 0, 0.25);
    width: 1203px;
    height: 218px;
  }
  .group-child52_PG,
  .rectangle-statistics_PG {
    top: 393px;
    width: 724px;
    height: 406px;
  }
  .group-child52_PG {
    top: 0;
    left: 0;
    width: 438px;
  }
  .dashboard-parent-progress-inner_PG {
    position: absolute;
    top: 393px;
    left: 1180px;
    width: 438px;
    height: 406px;
  }
  .progress-tracker_PG {
    position: absolute;
    top: 160px;
    left: 449px;
    font-size: var(--font-size-51xl);
    font-family: var(--font-bangers);
  }
  .charmgraduate-cap-icon_PG {
    position: absolute;
    top: 283px;
    left: 449px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
  .gelu-marie-ursal_PG,
  .student2_PG {
    position: absolute;
    top: 247px;
    left: 449px;
    font-size: var(--font-size-11xl);
    color: var(--color-gray-400);
  }
  .student2_PG {
    top: 285px;
    left: 450px;
    font-size: var(--font-size-mini);
    color: gray;
  }
  .noto-v1egg-icon_PG {
    position: relative;
    width: 76px;
    height: 78px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .eggs2_PG {
    position: absolute;
    top: 213px;
    left: 1265px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-6xl);
  }
  .line-div_PG {
    position: absolute;
    top: 170.6px;
    left: 1189.6px;
    border-right: 0.9px solid var(--color-gray-200);
    box-sizing: border-box;
    width: 0.9px;
    height: 151.9px;
  }
  .circular-progress-icon_PG {
    position: absolute;
    top: 279px;
    left: 181px;
    width: 293px;
    height: 280px;
  }
  .awards_PG,
  .gelus-average-study_PG,
  .summary_PG {
    position: absolute;
    top: 261px;
    left: 0;
    font-weight: 600;
  }
  .awards_PG,
  .gelus-average-study_PG {
    left: 762px;
  }
  .awards_PG {
    top: 0;
    left: 921px;
  }
  .div10_PG {
    position: relative;
    font-weight: 600;
  }
  .to-begin_PG {
    position: relative;
    font-size: var(--font-size-xs);
    margin-top: -4px;
  }
  .container_PG,
  .group_PG,
  .parent1_PG {
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container_PG,
  .parent1_PG {
    left: 249px;
  }
  .parent1_PG {
    left: 500px;
  }
  .percentageprogress_PG {
    position: absolute;
    top: 590px;
    left: 63px;
    width: 571px;
    height: 31px;
    font-size: var(--font-size-lg);
  }
  .frame-inner_PG {
    position: relative;
    border-radius: 50%;
    background-color: var(--color-gainsboro-200);
    width: 39px;
    height: 39px;
  }
  .circle-colors-inner_PG {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-child1_PG,
  .frame-child2_PG {
    position: relative;
    border-radius: 50%;
    background-color: var(--color-navajowhite);
    width: 39px;
    height: 39px;
  }
  .frame-child2_PG {
    background-color: var(--color-gold);
  }
  .circle-colors_PG {
    position: absolute;
    top: 586px;
    left: 19px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-192xl);
  }
  .circular-progress-parent_PG {
    position: absolute;
    top: 153px;
    left: 449px;
    width: 1001px;
    height: 625px;
  }
  .sun_PG {
    position: absolute;
    top: 718px;
    left: 1248px;
    font-size: var(--font-size-xs);
  }
  .min_PG,
  .min1_PG,
  .min2_PG,
  .min3_PG,
  .min4_PG,
  .min5_PG {
    position: absolute;
    top: 707px;
    left: 1190px;
    font-size: 12px;
  }
  .min1_PG,
  .min2_PG,
  .min3_PG,
  .min4_PG,
  .min5_PG {
    top: 664px;
  }
  .min2_PG,
  .min3_PG,
  .min4_PG,
  .min5_PG {
    top: 621px;
  }
  .min3_PG,
  .min4_PG,
  .min5_PG {
    top: 578px;
  }
  .min4_PG,
  .min5_PG {
    top: 535px;
  }
  .min5_PG {
    top: 492px;
  }
  .fri_PG,
  .mon_PG,
  .sat_PG,
  .thu_PG,
  .tue_PG,
  .wed_PG {
    position: absolute;
    top: 718px;
    left: 1296px;
    font-size: var(--font-size-xs);
  }
  .fri_PG,
  .sat_PG,
  .thu_PG,
  .tue_PG,
  .wed_PG {
    left: 1344px;
  }
  .fri_PG,
  .sat_PG,
  .thu_PG,
  .wed_PG {
    left: 1392px;
  }
  .fri_PG,
  .sat_PG,
  .thu_PG {
    left: 1440px;
  }
  .fri_PG,
  .sat_PG {
    left: 1488px;
  }
  .sat_PG {
    left: 1536px;
  }
  .microsoftteams-image-1-3_PG {
    position: absolute;
    top: 130px;
    left: 0;
    width: 372px;
    height: 116px;
    object-fit: cover;
  }
  .tablerdots-icon_PG {
    position: absolute;
    top: 409px;
    left: 1064px;
    width: 38px;
    height: 34px;
    overflow: hidden;
  }
  .div13_PG,
  .div14_PG,
  .div15_PG,
  .div16_PG,
  .div17_PG,
  .div18_PG {
    position: absolute;
    top: 479px;
    left: 1229px;
    font-weight: 100;
    font-family: var(--font-inter);
    color: var(--color-gray-200);
    display: inline-block;
    width: 359px;
  }
  .div14_PG,
  .div15_PG,
  .div16_PG,
  .div17_PG,
  .div18_PG {
    top: 522px;
  }
  .div15_PG,
  .div16_PG,
  .div17_PG,
  .div18_PG {
    top: 565px;
  }
  .div16_PG,
  .div17_PG,
  .div18_PG {
    top: 608px;
  }
  .div17_PG,
  .div18_PG {
    top: 651px;
  }
  .div18_PG {
    top: 694px;
  }
  .dashboard-parent-progress-child1_PG {
    position: absolute;
    top: 661px;
    left: 1254px;
    border-radius: var(--br-xl) var(--br-xl) 0 0;
    background-color: var(--color-orange);
    width: 10px;
    height: 52px;
  }
  .dashboard-parent-progress-child2_PG,
  .dashboard-parent-progress-child3_PG,
  .dashboard-parent-progress-child4_PG, 
  .dashboard-parent-progress-child5_PG {
    position: absolute;
    top: 536px;
    left: 1303px;
    border-radius: var(--br-xl) var(--br-xl) 0 0;
    background-color: orange;
    width: 10px;
    height: 177px;
    
  }

.dashboard-parent-progress-child1_PG,
.dashboard-parent-progress-child2_PG,
.dashboard-parent-progress-child3_PG,
.dashboard-parent-progress-child4_PG,
.dashboard-parent-progress-child5_PG,
.dashboard-parent-progress-child6_PG,
.dashboard-parent-progress-child7_PG {
  position: absolute;
  background-color: orange;
}


  .dashboard-parent-progress-child3_PG,
  .dashboard-parent-progress-child4_PG,
  .dashboard-parent-progress-child5_PG {
    top: 596px;
    left: 1349px;
    height: 117px;
  }
  .dashboard-parent-progress-child4_PG,
  .dashboard-parent-progress-child5_PG {
    top: 576px;
    left: 1399px;
    height: 137px;
  }
  .dashboard-parent-progress-child5_PG {
    top: 682px;
    left: 1446px;
    height: 31px;
  }
  .dashboard-parent-progress-child6_PG,
  .dashboard-parent-progress-child7_PG,
  .dashboard-parent-progress-child8_PG,
  .group-child53 {
    position: absolute;
    top: 596px;
    left: 1490px;
    border-radius: var(--br-xl) var(--br-xl) 0 0;
    background-color: var(--color-orange);
    width: 10px;
    height: 117px;
  }
  .dashboard-parent-progress-child7_PG,
  .dashboard-parent-progress-child8_PG,
  .group-child53 {
    top: 640px;
    left: 1540px;
    height: 73px;

  }
  .dashboard-parent-progress-child8_PG,
  .group-child53 {
    top: 859px;
    left: 415px;
    background-color: var(--color-white);
    box-shadow: 1px 0 13px 4px rgba(0, 0, 0, 0.25);
    width: 1203px;
    height: 218px;
  }
  .group-child53_PG {
    top: 0;
    left: 0;
    border-radius: var(--br-xl);
    box-shadow: 0 4px 13px 4px rgba(0, 0, 0, 0.25);
    width: 1119px;
    height: 76px;
  }
  .kurso-2-pagsasalita1_PG {
    position: absolute;
    top: 26px;
    left: 91px;
    font-weight: 600;
  }
  .microsoftteams-image-5-1_PG {
    position: absolute;
    top: 9px;
    left: 13px;
    width: 59px;
    height: 58px;
    object-fit: cover;
  }
  .in-progress2_PG {
    position: absolute;
    top: 29px;
    left: 704px;
    font-size: var(--font-size-mini);
    font-weight: 600;
    color: var(--color-gray-400);
  }
  .group-child54_PG {
    position: absolute;
    top: 24px;
    left: 1057px;
    border-radius: 50%;
    background-color: var(--color-navajowhite);
    width: 28px;
    height: 28px;
  }
  .group-child56_PG,
  .rectangle-parent33_PG {
    position: absolute;
    top: 983px;
    left: 455px;
    width: 1119px;
    height: 76px;
  }
  .group-child56_PG {
    top: 24px;
    left: 1057px;
    border-radius: 50%;
    background-color: var(--color-gold);
    width: 28px;
    height: 28px;
  }
  .ca88b0e1-977b-4453-99ba-b1a77c-icon_PG {
    position: absolute;
    top: 1px;
    left: 17px;
    width: 56px;
    height: 73px;
    object-fit: cover;
  }
  .home14_PG,
  .rectangle-parent34_PG {
    position: absolute;
    top: 881px;
    left: 455px;
    width: 1119px;
    height: 76px;
  }
  .home14_PG {
    top: 0;
    left: 44px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 98px;
    height: 49px;
  }
  .vector-icon65_PG {
    position: absolute;
    height: 61.22%;
    width: 18.94%;
    top: 14.29%;
    right: 81.06%;
    bottom: 24.49%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .home-parent8_PG {
    position: relative;
    width: 142px;
    height: 49px;
    cursor: pointer;
  }
  .home13_PG {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 356px;
    left: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-icon11_PG {
    position: absolute;
    height: 35.71%;
    width: 10.47%;
    top: 8.33%;
    right: 89.53%;
    bottom: 55.95%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .settings23_PG {
    position: absolute;
    top: 0;
    left: 44px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 231px;
    height: 84px;
  }
  .group-parent28_PG {
    position: relative;
    width: 275px;
    height: 84px;
    cursor: pointer;
  }
  .settings22_PG {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 679px;
    left: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vector-icon66_PG {
    position: absolute;
    height: 35.71%;
    width: 7.84%;
    top: 10.71%;
    right: 92.16%;
    bottom: 53.57%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .courses22_PG {
    position: absolute;
    top: 0;
    left: 42px;
    font-size: var(--font-size-21xl);
    font-family: var(--font-love-ya-like-a-sister);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    width: 231px;
    height: 84px;
  }
  .vector-parent32_PG {
    position: relative;
    width: 273px;
    height: 84px;
    cursor: pointer;
  }
  .courses21_PG {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 511px;
    left: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-child57_PG {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-81xl);
    background-color: var(--color-orangered);
    width: 84px;
    height: 46px;
  }
  .group-child58_PG {
    position: absolute;
    top: 4px;
    left: 39px;
    width: 38px;
    height: 38px;
  }
  .rectangle-parent35_PG {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 880px;
    left: 114px;
    width: 84px;
    height: 46px;
  }
  .dashboard-parent-progress_PG {
    position: relative;
    background-color: var(--color-deepskyblue-200);
    width: 100%;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  