.forgot-passwordnew-password-child {
  position: absolute;
  top: 98px;
  left: 192px;
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #2b6bb0, rgba(43, 107, 176, 0));
  width: 1344px;
  height: 921px;
}
.n-1-icon {
  position: absolute;
  top: 486px;
  left: 126px;
  width: 650px;
  height: 631px;
  object-fit: cover;
}
.reset-password {
  position: absolute;
  top: 131px;
  left: 632px;
  font-size: var(--font-size-45xl);
  letter-spacing: 0.1em;
  line-height: 111.5%;
  font-family: var(--font-bangers);
  display: flex;
  align-items: center;
  width: 528px;
  height: 141px;
}
.notocloud-icon16 {
  position: absolute;
  top: 0px;
  left: 1357px;
  width: 270px;
  height: 230px;
  overflow: hidden;
  object-fit: cover;
}
.notocloud-icon17 {
  position: absolute;
  top: 910px;
  left: 1122px;
  width: 208px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
}
.password-field {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  top: 49px;
  left: 0px;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  width: 453px;
  height: 73px;
}
.password4 {
  position: absolute;
  top: 0px;
  left: 166px;
}
.password-field-parent {
  position: absolute;
  top: 318px;
  left: 637px;
  width: 453px;
  height: 122px;
}
.confirm-password-field {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  top: 46px;
  left: 0px;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  width: 453px;
  height: 73px;
}
.confirm-password2 {
  position: absolute;
  top: 0px;
  left: 119px;
}
.confirm-password-field-parent {
  position: absolute;
  top: 486px;
  left: 639px;
  width: 453px;
  height: 119px;
}
.notocloud-icon18 {
  position: absolute;
  top: 835px;
  left: 0px;
  width: 338px;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
}
.reset {
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-bangers);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.reset-wrapper {
  cursor: pointer;
  border: 2px solid var(--color-darkslateblue-100);
  padding: var(--padding-5xs) 62px;
  background-color: var(--color-white);
  position: absolute;
  top: 678px;
  left: 762px;
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.forgot-passwordnew-password {
  position: relative;
  background: linear-gradient(#38b7fe, #38b7fe),
    linear-gradient(180deg, #38b7fe, rgba(56, 183, 254, 0)), #fff;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
